---
const { title, seoTitle, seoDesc } = Astro.props;
---

<!doctype html>
<html lang="en">
    <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
    <body>
        <slot />
    </body>
</html>
<style>
    html,
    body 
    {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
